#status-home img {
  width: 100%;
  height: auto;
}

.temperature {
  border: 1px solid #ddd;
  padding-left: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px #656565;
  -webkit-box-shadow: 0px 0px 10px 0px #656565;
  -o-box-shadow: 0px 0px 10px 0px #656565;
  box-shadow: 0px 0px 10px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
}

.temperature#sensor1 {
  top: 79%;
  left: 78%;
}
.temperature#sensor2 {
  top: 64%;
  left: 35%;
}
.temperature#sensor3 {
  top: 41%;
  left: 35%;
}
.temperature#sensor4 {
  top: 68%;
  left: 5%;
}
