<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Chauffage</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">

  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-sliders fa-fw"></i> Contrôle
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" data-ng-hide="lastSetPoint.$resolved">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
      </div>
      <div class="panel-body" data-ng-if="lastSetPoint.$resolved">
        <rzslider
          rz-slider-model="slider.value"
          rz-slider-options="slider.options"
        ></rzslider>
      </div>
    </div>

    <div id="status-home" class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-info fa-fw"></i> Etat
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <span class="temperature" id="sensor{{aTemperature.probe}}" ng-repeat="aTemperature in lastTemperaturesBySensor">
          <i class="fa fa-thermometer-half fa-fw"></i>{{aTemperature.temperature | number : 1}}°C<br />
          <!--<div>{{aTemperature.sensor.label}}</div>-->
        </span>
        <img src="/app/assets/img/maison.png" width="320" />
      </div>
    </div>
  </div>

  <div class="col-lg-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Températures des {{nLastHours}} dernières heures
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" data-temperature-chart></div>
    </div>
  </div>

  <div class="col-lg-2">
    <div id="status-home" class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-info fa-fw"></i> Records
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div data-ng-repeat="aSensorWithStats in sensorsWithStats" ng-show="aSensorWithStats.min.$resolved && aSensorWithStats.max.$resolved">
          <p>{{aSensorWithStats.label}}</p><br/>
          <span>
            <i class="fa fa-toggle-up fa-fw"></i>{{aSensorWithStats.max.temperature | number : 1}}°C <span class="details">({{aSensorWithStats.max.date.$date | date:"'le' dd/MM/yyyy 'à' hh'h'mm"}})</span>
          </span><br/>
          <span>
            <i class="fa fa-toggle-down fa-fw"></i>{{aSensorWithStats.min.temperature | number : 1}}°C <span class="details">({{aSensorWithStats.min.date.$date | date:"'le' dd/MM/yyyy 'à' hh'h'mm"}})</span>
          </span>
          <hr ng-if="!$last" />
        </div>
      </div>
    </div>
  </div>

</div>
