<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Chauffage</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">

  <div class="col-lg-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-sliders fa-fw"></i> Contrôle
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" data-ng-hide="lastSetPoint.$resolved">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
      </div>
      <div class="panel-body" data-ng-if="lastSetPoint.$resolved">
        <rzslider
          rz-slider-model="slider.value"
          rz-slider-options="slider.options"
        ></rzslider>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Températures des {{nLastHours}} dernières heures
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" data-temperature-chart></div>
    </div>
  </div>

  <div class="col-lg-3">
    <div id="status-home" class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-info fa-fw"></i> Etat
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <span class="temperature" id="sensor{{aTemperature.probe}}" ng-repeat="aTemperature in lastTemperaturesBySensor">
          <i class="fa fa-thermometer-half fa-fw"></i>{{aTemperature.temperature | number : 1}}°C<br />
          <!--<div>{{aTemperature.sensor.label}}</div>-->
        </span>
        <img src="/app/assets/img/maison.png" width="320" />
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div id="status-home" class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-info fa-fw"></i> Records
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <ul>
          <li ng-show="stats.min.$resolved">Température min : {{stats.min.temperature | number : 1}}°C {{stats.min.date.$date | date:"'le' dd/MM/yyyy 'à' hh'h'mm"}}</li>
          <li ng-show="stats.max.$resolved">Température max : {{stats.max.temperature | number : 1}}°C {{stats.max.date.$date | date:"'le' dd/MM/yyyy 'à' hh'h'mm"}}</li>
        </ul>
      </div>
    </div>
  </div>

</div>
